<?php

if($this->getTwistoStatus()
	&& $this->getEnvironment() === "production") {

	$paymentMethods = $this->getPaymentMethods(); ?>

	<style>
		#button-submit-form {
			display:none;
		}
	</style>

	<?php

	echo __('Please wait, we are preparing data for imoje...') . '<br><br>

	<form action="' . $this->urlBuilder->getUrl('imoje_twisto/payment/twistocheckout') . '" id="redirect-form" method="post">

    <input type="hidden" name="twistoData" value="" id="imoje_twisto">
    <input type="hidden" name="orderId" value="' . $this->getOrderId() . '" id="imoje_twisto_order_id">
    <button type="submit" id="button-submit-form">' . __('Continue') . '</button>

    </form>';

	?>

	<script type="text/javascript">
		(function () {
			var _twisto_config = {
				public_key: '<?= $paymentMethods['twisto']['pk'] ?>',
				script: '<?= \Imoje\Payment\Twisto::getUrlScript($this->getEnvironment()) ?>'
			};

			(function (e, g, a) {
				function h(a) {
					return function () {
						b._.push([a, arguments])
					}
				}

				var f = ["check"], b = e || {}, c = document.createElement(a);
				a = document.getElementsByTagName(a)[0];
				b._ = [];
				for (var d = 0; d < f.length; d++) {
					b[f[d]] = h(f[d]);
				}
				this[g] = b;
				c.type = "text/javascript";
				c.async = !0;
				c.src = e.script;
				a.parentNode.insertBefore(c, a);
				delete e.script
			}).call(window, _twisto_config, "Twisto", "script");

			var twisto_timeout,
				time_before_check,
				twisto_timeout_flag = false;

			function timeout() {

				return setTimeout(function () {

					process_form({
						"details": "timeout"
					});
				}, <?=$paymentMethods['twisto']['timeout']?>);
			}

			function process_form(response) {

				clearTimeout(twisto_timeout);
				response.timeResponse = (new Date()).getTime() - time_before_check;
				document.getElementById('imoje_twisto').value = JSON.stringify(response);
				document.getElementById('redirect-form').submit();
				document.getElementById("button-submit-form").style.display = "block";
			}

			time_before_check = (new Date()).getTime();

			twisto_timeout = timeout();

			Twisto.check("<?= $this->getTwistoPayload($this->getOrderObject()); ?> ", function (response) {

					process_form(response);
				}, function (response) {

					if (!response) {
						response = {
							"details": "errorCallback"
						}
					}

					process_form(response);
				}, {
					"processingStarted": function () {

						if (twisto_timeout_flag) {
							return;
						}
						twisto_timeout_flag = true;
						clearTimeout(twisto_timeout);
						twisto_timeout = timeout();
					}
				}
			);

		})();
	</script>

<?php } else {

	echo __('Please wait, in the next step you will choose a payment method.') . '<br><br>' . $block->renderForm();

	?>
	<script type="text/javascript">
		document.getElementById('submit-payment-form').click();
	</script>

<?php } ?>
