<?php

echo __('Please wait, in the next step you will choose a payment method.') . '<br><br>' . $this->renderForm($this->getOrderIdFromPost());

?>

<script type="text/javascript">
    document.getElementById('submit-payment-form').click();
</script>
